@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

.<%= className %>::before {
  display: inline-block;
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &-lg {
    font-size: 1.3333333333333333rem;
    line-height: 0.75rem;
    vertical-align: -15%;
  }
  &-2x { font-size: 2rem; }
  &-3x { font-size: 3rem; }
  &-4x { font-size: 4rem; }
  &-5x { font-size: 5rem; }
  &-fw {
    width: 1.2857142857142858rem;
    text-align: center;
  }
}

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>::before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% }); %>