/*

App

Your starter tag with routing and navigation

Styleguide templates.app

*/

app {
  display: block;
  position: relative;
  overflow: hidden;
  route {
    display: block;
    padding: $base-line-height * 2 $base-line-height $base-line-height;
  }
}