/*

  Panel

 */
$panel-header-bg: $main-color;
$panel-footer-bg: lighten($main-color, 47.5%);
$panel-padding: $base-line-height;
$panel-margin: $base-line-height;

panel,
panel-header,
panel-content,
panel-footer {
  display: block;
}

panel {
  @include depth(1);
  overflow: hidden;
  margin: $panel-margin * 2 0;
  &-header,
  &-content,
  &-footer {
    padding: $panel-padding;
  }
  &-header {
    color: #FFF;
    background-color: $panel-header-bg;
  }
  &-footer {
    color: $main-color;
    background-color: $panel-footer-bg;
  }
}