navigation {
  nav {
    display: block;
    ul {
      li {
        display: inline-block;
        line-height: $base-line-height;
        padding: $base-line-height;
        :any-link {
          color: blue;
        }
      }
    }
  }
}
