icon > i {
  font-size: $base-font-size;
  display: inline-block;
  vertical-align: middle;
  &::before {
    display: inline-block;
    font-family: "icon";
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &.s {
    font-size: 0.875rem;
  }
  &.m {
    font-size: 1.25rem;
  }
  &.l {
    font-size: 2.1875rem;
  }
  &.xl {
    font-size: 3.125rem;
  }
  &.fw {
    text-align: center;
    width: 1rem;
  }
}