app.loading {
  border-bottom: $base-line-height / 2 solid transparentize($main-color, 0.90);
  border-left: $base-line-height / 2 solid $main-color;
  border-right: $base-line-height / 2 solid transparentize($main-color, 0.90);
  border-top: $base-line-height / 2 solid transparentize($main-color, 0.90);
  margin: 40vh auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation: loading 1.5s infinite linear;
  &,
  &::after {
    border-radius: 50%;
    width: $base-line-height * 4;
    height: $base-line-height * 4;
  }
}
app.loading > * {
  opacity: 0;
}
app > * {
  transition: opacity 0.5s linear;
  opacity: 1;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
