app {
  display: block;
}
navigation {
  nav {
    display: inline-block;
    ul {
      li {
        display: inline-block;
        line-height: $default-line-height;
        padding: $default-line-height / 2;
        :any-link {
          color: blue;
        }
      }
    }
  }
}

kitchensink {
  display: block;
  margin: $default-line-height;
}