/*

  App

 */
app {
  display: block;
  position: relative;
  overflow: hidden;
  route {
    display: block;
    padding: $base-line-height * 2 $base-line-height $base-line-height;
  }
}
/*

  Buttons

 */
button {
  @include depth(2);
  border: 0;
  background-color: transparent;
  margin: $base-line-height / 2 0;
  padding: $base-line-height / 2 $base-line-height;
  &:hover,
  &:focus {
    background-color: lighten($main-color, 47.5%);
  }
  &:active {
    background-color: lighten($main-color, 47.5%);
    outline: none;
    @include depth(0);
  }
}
@font-face {
  font-family: "icon";
  src: url('assets/fonts/icon.eot');
  src: url('assets/fonts/icon.eot?#iefix') format('eot'),
    url('assets/fonts/icon.woff2') format('woff2'),
    url('assets/fonts/icon.woff') format('woff'),
    url('assets/fonts/icon.ttf') format('truetype'),
    url('assets/fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.chevron-down::before { content: "\EA01" }
.chevron-left::before { content: "\EA02" }
.chevron-right::before { content: "\EA03" }
.chevron-up::before { content: "\EA04" }
.hamburger::before { content: "\EA05" }
.search::before { content: "\EA06" }
/*

  Logo

 */
logo {
  display: block;
  float: right;
  padding: $base-line-height;
  & div,
  & div i {
    color: $main-bg;
    font-size: $base-line-height;
  }
}
/*

  Panel

 */
$panel-header-bg: $main-color;
$panel-footer-bg: lighten($main-color, 47.5%);
$panel-padding: $base-line-height;
$panel-margin: $base-line-height;

panel,
panel-header,
panel-content,
panel-footer {
  display: block;
}

panel {
  @include depth(1);
  overflow: hidden;
  margin: $panel-margin * 2 0;
  &-header,
  &-content,
  &-footer {
    padding: $panel-padding;
  }
  &-header {
    color: #FFF;
    background-color: $panel-header-bg;
  }
  &-footer {
    color: $main-color;
    background-color: $panel-footer-bg;
  }
}
/*

  Panel

 */
navigation {
  @include depth(2);
  background-color: $main-color;
  display: block;
  position: fixed;
  left: 0; right: 0; top: 0; z-index: 1;
  line-height: 0;
  .menu {
    display: inline-block;
    text-decoration: none;
    padding: $base-line-height;
    span {
      margin: $base-line-height / 3 0;
      display: block;
      height: $base-line-height / 8;
      width: $base-line-height * 1.6;
      background-color: $main-bg;
      &:last-child {
        margin-bottom: 0;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &:hover span {
      background-color: lighten($main-bg, 50%);
    }
  }
  &.open nav {
      display: block;
  }
  nav {
    display: none;
    ul {
      margin: 0;
      li {
        :any-link {
          color: $main-bg;
          display: block;
          line-height: $base-line-height;
          padding: $base-line-height;
          text-decoration: none;
          &:hover {
            color: $main-color;
            background-color: lighten($main-bg, 50%);
          }
        }
      }
    }
  }
}
