app {
  display: block;
}
@font-face {
  font-family: "icon";
  src: url('assets/fonts/icon.eot');
  src: url('assets/fonts/icon.eot?#iefix') format('eot'),
    url('assets/fonts/icon.woff2') format('woff2'),
    url('assets/fonts/icon.woff') format('woff'),
    url('assets/fonts/icon.ttf') format('truetype'),
    url('assets/fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-chevron-down::before { content: "\EA01" }
.icon-chevron-left::before { content: "\EA02" }
.icon-chevron-right::before { content: "\EA03" }
.icon-chevron-up::before { content: "\EA04" }
.icon-hamburger::before { content: "\EA05" }
.icon-search::before { content: "\EA06" }
.icon-whiplash::before { content: "\EA07" }
navigation {
  nav {
    display: inline-block;
    ul {
      li {
        display: inline-block;
        line-height: $default-line-height;
        padding: $default-line-height / 2;
        :any-link {
          color: blue;
        }
      }
    }
  }
}

kitchensink {
  display: block;
  margin: $default-line-height;
}