/*
 * Typography
 */
h1 {
  font-size: $h1-font-size;
  @include baseline(3);
}
h2 {
  font-size: $h2-font-size;
  @include baseline(2);
}

h3 {
  font-size: $h3-font-size;
  @include baseline(1);
}

h4 {
  font-size: $h4-font-size;
  @include baseline(1);
}

h5,h6 {
  display: none;
}

ul, ol, p, blockquote, address {
  line-height: $base-line-height;
  margin: $base-line-height 0;
}

ul, ol {
  margin: 0 0 0 $base-line-height;
  padding: 0;
}
