doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title Index
  link(rel="stylesheet", href="index.css")
body
  h1 Headline 1
  h2 Headline 2
  h3 Headline 3
  h4 Headline 4
  h5 Headline 5
  h6 Headline 6
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptate illo iure labore, necessitatibus mollitia recusandae, aliquid dolore placeat eligendi! Et asperiores doloribus esse, totam ipsum laudantium porro quis non.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt debitis, suscipit eveniet, dolorem nesciunt voluptas voluptates voluptatem rerum vitae porro repellendus recusandae vel commodi, blanditiis in ut, accusantium aperiam atque.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sint veritatis exercitationem, a neque adipisci minus tempora fugiat expedita quasi quod nobis harum consequatur molestias, rem dolore amet nam. Obcaecati!