/**
 * Computes baseline.
 *
 * @param {Number} $lines - number of lines
 *
 */

@mixin baseline($lines) {
  line-height: $base-line-height * $lines;
  margin-top: 2 * $base-line-height;
  margin-bottom: $base-line-height;
}