/*

  Buttons

 */
button {
  @include depth(2);
  border: 0;
  background-color: transparent;
  margin: $base-line-height / 2 0;
  padding: $base-line-height / 2 $base-line-height;
  &:hover,
  &:focus {
    background-color: lighten($main-color, 47.5%);
  }
  &:active {
    background-color: lighten($main-color, 47.5%);
    outline: none;
    @include depth(0);
  }
}