/*

  Icons

 */
@font-face {
  font-family: "icon";
  src: url('assets/fonts/icon.eot');
  src: url('assets/fonts/icon.eot?#iefix') format('eot'),
    url('assets/fonts/icon.woff2') format('woff2'),
    url('assets/fonts/icon.woff') format('woff'),
    url('assets/fonts/icon.ttf') format('truetype'),
    url('assets/fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.chevron-down::before { content: "\EA01" }
.chevron-left::before { content: "\EA02" }
.chevron-right::before { content: "\EA03" }
.chevron-up::before { content: "\EA04" }
.hamburger::before { content: "\EA05" }
.search::before { content: "\EA06" }
.whiplash::before { content: "\EA07" }