@font-face {
  font-family: "icon";
  src: url('assets/fonts/icon.eot');
  src: url('assets/fonts/icon.eot?#iefix') format('eot'),
    url('assets/fonts/icon.woff2') format('woff2'),
    url('assets/fonts/icon.woff') format('woff'),
    url('assets/fonts/icon.ttf') format('truetype'),
    url('assets/fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  &::before {
    display: inline-block;
    font-family: "icon";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &-lg {
    font-size: 1.3333333333333333rem;
    line-height: 0.75rem;
    vertical-align: -15%;
  }
  &-2x { font-size: 2rem; }
  &-3x { font-size: 3rem; }
  &-4x { font-size: 4rem; }
  &-5x { font-size: 5rem; }
  &-fw {
    width: 1.2857142857142858rem;
    text-align: center;
  }
}

.icon-chevron-down::before { content: "\EA01" }
.icon-chevron-left::before { content: "\EA02" }
.icon-chevron-right::before { content: "\EA03" }
.icon-chevron-up::before { content: "\EA04" }
.icon-hamburger::before { content: "\EA05" }
.icon-search::before { content: "\EA06" }
.icon-whiplash::before { content: "\EA07" }